In [1]:
import pandas as pd

In [32]:
df=pd.read_csv('wikititles-v1.gu-en.tsv',sep='\t',header=0)

In [33]:
df.head(10)

                Gujrati                            English
0              મુખપૃષ્ઠ                          Main Page
1                 Timwi                              Timwi
2    General disclaimer                 General disclaimer
3                 કુદરત                             Nature
4          નરસિંહ મહેતા                      Narsinh Mehta
5        કનૈયાલાલ મુનશી         Kanaiyalal Maneklal Munshi
6                  સ્ટબ                               Stub
7  રાષ્ટ્રીય પ્રતિજ્ઞા                    National Pledge
8                  Yann                               Yann
9   ગુજરાતી સાહિત્યકારો  List of Gujarati-language writers

In [35]:
len(df.Gujrati)

7810

In [36]:
clean_df=df[df.Gujrati !=df.English]

In [37]:
len(clean_df.Gujrati)

6584

In [38]:
len(clean_df.English)

6584

In [39]:
clean_df.tail(5)

                 Gujrati           English
7804        લચિત બોરફૂકન  Lachit Borphukan
7805  મહારાજા ભગવતસિંહજી     Bhagvat Singh
7807               કલાલી  Kalali, Vadodara
7808                 જાન            Baraat
7809                અભંગ            Abhang

In [40]:
clean_df.to_csv('clean_data.csv',sep='\t', encoding='utf-8')

In [41]:
clean_df['Gujrati'].to_csv('Guj.txt', sep='\t', index=False)

In [42]:
clean_df.English.to_csv('Eng.txt', sep='\t', index=False)

In [44]:
dev=pd.read_csv('dev_test.csv',sep='\t',header=0)

In [47]:
len(dev.Gujrati)

2154

In [46]:
dev_test_clean=dev[dev.Gujrati != dev.English]

In [48]:
len(dev_test_clean.Gujrati)

1760

In [49]:
dev_test_clean.head()

                 Gujrati                        English
0  નિયમોને અવગણો"નો અર્થ  What "Ignore all rules" means
1                 તાપમાન                    Temperature
2               લોકનૃત્ય                     Folk dance
3                   ચીલી                          Chile
4            ગિરિજા દેવી                    Girija Devi

In [50]:
dev_test_clean.to_csv('dev_test_clean_.csv',sep='\t', encoding='utf-8')

In [53]:
dev_test_clean['Gujrati'].to_csv('dev.txt', sep='\t', index=False)

In [54]:
dev_test_clean.English.to_csv('dev.en', sep='\t', index=False)